html, body {
    height: 100%;
    width: 100%;
    font-size: 1.3em;
}

body{
    background-color: #1D1D28;
    display: flex;
}

#mainWrapper{
    margin: auto;
}

a{
    background-color: #D0003C;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    position: relative;
    left: 23%;
    padding-left:10%;
    padding-right: 10%;
    padding-top: 0.3%;
    padding-bottom: 0.3%;
}

body, a{
    color: white;
}

h1{
    border-bottom: 5px solid white;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}