html, body {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
}

body{
    background-color: #1D1D28;
    display: flex;
}

#mainWrapper{
    margin: auto;
}

p{
    background-color: #D0003C;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
}

body, p{
    color: white;
}

#title{
    text-decoration: underline;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}