html, body {
    height: 100%;
    width: 100%;
    font-size: 1.3em;
}

body{
    background-color: #1D1D28;
    display: flex;
    color: white;
}

#mainWrapper{
    margin: auto;
}

input[type="submit"]{
    background-color: #D0003C;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    font-size: 1.3em;
    border-style: none;
}

input[type="checkbox"]{
    background-color: #D0003C;
}

#roomList{
    display: flex;
}

form{
    margin: auto;
}

#validateButton{
    display: flex;
}

input[type="submit"]{
    margin: auto;
}

input[type="submit"]:hover{
    cursor: pointer;
}

h1{
    border-bottom: 5px solid white;
}
