html, body {
    height: 100%;
    width: 100%;
    font-size: 1.5em;
}

body{
    background-color: #1D1D28;
    display: flex;
}

#mainWrapper{
    margin: auto;
}

a{
    background-color: #D0003C;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    position: relative;
    left: 31%;
    padding-left:10%;
    padding-right: 10%; 
}

body, a{
    color: white;
}

#title{
    text-decoration: underline;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}